concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Version and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.ACCESS_TOKEN }}
      - uses: ./.github/actions/prepare
      - run: pnpm build
      - id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm version-package
          publish: pnpm changeset publish
          title: 'ci(repo): version package'
          commit: 'ci(repo): version package'
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  pull-requests: write
