name: Renovate

on:
  pull_request_target:
    types: [opened, synchronize, labeled]

jobs:
  renovate:
    name: Add Changeset
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')
    steps:
      - name: Update PR
        uses: mscharley/dependency-changesets-action@688113f578e02cc37d62d3f5d11bb705744a802d # v1.2.1
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          use-conventional-commits: true
          use-semantic-commits: true
          author-name: Christian Ivicevic
          author-email: mail@christian-ivicevic.com